- @html_title = 'Login'
.login_box
  = simple_form_for(resource, :as => resource_name, :url => session_path(resource_name), :html=>{:id=>"login_form", :novalidate=>true}) do |f|
    .top_b EBuychem管理系统登陆
    - unless flash[:alert].blank?
      .alert.alert-error.alert-login= flash[:alert]
    .cnt_b
      .formRow
        .input-prepend
          %span.add-on
            %i.icon-user
          = f.input_field :email, :required => false, :autofocus => true, :placeholder => "Email"
      .formRow
        .input-prepend
          %span.add-on
            %i.icon-lock
          = f.input_field :password, :required => false, :placeholder => "Password"
      .formRow.clearfix
        %label.checkbox
          %input{:name => "employee[remember_me]", :type => "hidden", :value => "0"}
          %input#employee_remember_me.boolean.optional{:name => "employee[remember_me]", :type => "checkbox", :value => "1"}
          Remember me

    .btm_b.clearfix
      %button.btn.btn-inverse.pull-right{:type => "submit"} Sign In
      %span.link_reg


:javascript
  $(document).ready(function(){

      //* boxes animation
      form_wrapper = $('.login_box');
      function boxHeight() {
          form_wrapper.animate({ marginTop : ( - ( form_wrapper.height() / 2) - 24) },400);
      };
      form_wrapper.css({ marginTop : ( - ( form_wrapper.height() / 2) - 24) });

  });
