<header class="main-header">
<a href="#" class="logo">
  <span class="logo-mini">e<b>HR</b></span> <span class="logo-lg">e<b>HR</b></span>
</a>

<nav class="navbar navbar-static-top" role="navigation">
<a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
  <span class="sr-only">Toggle navigation</span>
</a>
<!-- Navbar Right Menu -->
<div class="navbar-custom-menu">
  <ul class="nav navbar-nav">
    <%= render partial: 'admin/share/header_messages' %>
    <%= render partial: 'admin/share/header_tasks' %>
    <%= render partial: 'admin/share/header_userinfo' %>
  </ul>
</div>
</nav>
</header>
