<aside class="main-sidebar">
<section class="sidebar">
<ul class="sidebar-menu">
  <li><a href='#' class='selected'><i class='fa fa-circle-o'></i>Menu</a></li>
  <li><a href='#' class='text-aqua'><i class='fa fa-circle-o'></i>Menu</a></li>
  <li class="treeview">
  <a href="#"><i class="fa"></i><span>Tree</span><i class="fa fa-angle-left pull-right"></i></a>
  <ul class="treeview-menu" style='display: block;'>
    <li><a href='#' class='text-aqua'><i class='fa fa-circle-o'></i>Menu</a></li>
  </ul></li>
</ul>
</section>
</aside>
