
<%=form_for(@up, url: {:controller => 'admin/departmentinfo' ,:action => 'update'} , html: {method: :put}) do |f|%>
    <table>
      <tr>
        <td>部门</td>
        <td><%=f.text_field :position%></td>
      </tr>
      <tr>
        <td><%=f.submit "提交"%></td>
      </tr>
    </table>
<% end %>
